<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links'); %>
    <title>View Notebooks</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <%- include('./partials/searchbar'); %>

    <% notebooks.forEach(notebook => { %>
    <h1 style="color: #266B59; text-align: center;"><%= notebook.title %></h1>

    <a href="/secure/newnotebook/<%= notebook.id %>" class="hardbtn" style="text-decoration: none;">
        Edit Notes
    </a>
    </br>
    </br>

    <% notebook.notes.forEach(note => { %>
    <a href="/secure/note/<%= note.note_id %>" class="whitebtn">
        <p class="bold"><%= note.note_title %></p>
        <!-- <i class="fas fa-plus" class="contentPlus" style="color: #358E76;"></i>  -->
    </a>
    </br>
    </br>
    <% }) %>

    <% }) %>

    <%- include('./partials/noteFooter'); %>
</body>

</html>