<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links'); -%>
    <link rel="stylesheet" href="/style/list.css">
    <title>View Lists</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <!-- search bar for lists -->
    <div class="SB_container">
        <form class="SearchBar" method="POST" action="/secure/list/search">   
            <input placeholder="Looking for something?" id="sb_form" name="keyword"></input>
            <a href="/main/setting">
                <img src="/uploads/profile_pic.png" width="40px" height="40px" class="SearchBar_Img">
            </a>
        </form>
    </div>
    </br>
    </br>

    <h1 style="color: #266B59; text-align: center; margin-top: 12%;">My Lists</h1>
    <% lists.forEach(list => { %>
        <% let count = [] %>
        <% for (let i = 0; i < list.items.length; i++) { %>
            <% if (list.items[i].checkbox === "true") { %>
                <% count.push(i) %>    
            <% } %>
        <% } %>    
                
        <% if (count.length != list.items.length || count.length == 0) { %>
            <button class="whitebtn collapsible">
                    <p class="bold"><%= list.title %></p>
            </button>
                
            <!-- show list items after expanding -->
            <div class="items">
                <% list.items.forEach(item => { %>      
                    <%if (item.checkbox == "true") {%>
                        <input list_id="<%=list._id%>" class="checkBox option-input" type="checkbox" name="checkbox" value="true" checked/>
                    <%}else { %>
                        <input list_id="<%=list._id%>" class="checkBox option-input" type="checkbox" name="checkbox" value="true"/>
                    <%}%>

                        <label itemList_id="<%=list._id%>" class="item"><%= item.item %></label>
                        </br>
                <% }) %>

                <!-- add new item in a list -->
                <form method="POST" action="/secure/list/newitem/<%= list.id %>">
                    <input type="checkbox" class="option-input"/>
                    <input name="newItem" required/>
                </form>
                </div>
                </br>
        <% } %>
    <% }) %>

    <!-- after checking all box -->
    <h1 style="color: #266B59; text-align: center;">Archive</h1>

    <% lists.forEach(list => { %>
        <% let count = [] %>
        <% for (let i = 0; i < list.items.length; i++) { %>
            <% if (list.items[i].checkbox === "true") { %>
                <% count.push(i) %>    
            <% } %>
        <% } %>    
                
        <% if (count.length == list.items.length && count.length != 0) { %>   
            <button class="whitebtn collapsible">
                <p class="bold"><%= list.title %></p>
            </button>
                
            <!-- show list items after expanding -->
            <div class="items">
                <% list.items.forEach(item => { %>    
                        
                    <%if (item.checkbox == "true") {%>
                        <input class="checkBox option-input" type="checkbox" onclick="return false;" onkeydown="return false;" checked/>
                    <%}%>

                        <label itemList_id="<%=list._id%>" class="item"><%= item.item %></label>
                        </br>
                <% }) %>

            </div>
            </br>
        <% } %>
    <% }) %>
    
    <%- include('./partials/listFooter'); %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/src/listItems.js"></script>
<script src="/src/goback.js"></script>
</body>
</html>