<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links'); -%>
    <title>View Lists</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <%- include('./partials/searchbar'); %>

    <h1 style="color: #266B59; text-align: center;">My Lists</h1>

    <% lists.forEach(list => { %>
    <button class="whitebtn collapsible">
        <p class="bold"><%= list.title %></p>
    </button>

    <!-- show list items after expanding -->
    <div class="items">
    <% list.items.forEach(item => { %>    
        <form method="POST" action="/secure/list">
            <!-- TODO if checked -->
            <input type="checkbox" name="checkbox" value="true"></input>
            <input type="hidden" name="checkbox" value="false"></input>
            <label><%= item.item %></label>
        </form>
        </br>
    <% }) %>

        <!-- add new item in a list -->
        <form method="POST" action="/secure/list/newitem/<%= list.id %>">
            <input type="checkbox" name="checkbox" value="false"></input>
            <input name="newItem"></input>
        </form>
    </div>
    </br>
    <% }) %>

    <!-- todo after checking all box -->
    <h1 style="color: #266B59; text-align: center;">Archive</h1>

   
    <%- include('./partials/listFooter'); %>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        } 
    });
}
</script>
</body>

</html>