<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links'); %>
    <title>View Notebooks</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <!-- search bar for note -->
    <div class="SB_container">
        <form class="SearchBar" method="POST" action="/secure/notebook/search">   
            <input placeholder="Looking for something?" id="sb_form" name="keyword"></input>
            <a href="/main/setting">
                <img src="/uploads/profile_pic.png" width="40px" height="40px" class="SearchBar_Img">
            </a>
        </form>
    </div>  
    </br>
    </br>
    
    <% if (notebooks.length == 0) { %>
        <p>No notebook or note contains the keyword, please try again!</p>
    <% } %>

    <% notebooks.forEach(notebook => { %>
    <h1 style="color: #266B59; margin-top: 12%; text-align: center;"><%= notebook.title %></h1>

    <a href="/secure/newnotebook/<%= notebook.id %>" class="hardbtn" style="text-decoration: none;">
        Add Notes
    </a>
    </br>
    </br>

    <% notebook.notes.forEach(note => { %>
    <a href="/secure/note/<%= note.note_id %>" class="whitebtn">
        <p class="bold"><%= note.note_title %></p>
    </a>
    </br>
    </br>
    <% }) %>
    <% }) %>

    <%- include('./partials/noteFooter'); %>
</body>
<script src="/src/goback.js"></script>
</html>