<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links'); %>
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="stylesheet" href="/style/signup.css">
    <title>Profile</title>
</head>
<body>
    <%- include('./partials/header'); %>

    <!-- user firstname -->
    <h1><%= user.firstname %></h1>

    <div class="settingTab">
        <div class="settingTxt">
            <i class="fas fa-user" style="color: #358E76">
                Profile Setting
            </i>
        </div>
    </div>

    <!-- user information -->
    <div class="inputField">
        <form class="fields" method="POST" action="/main/profile/pwreset">
            <div class="field">
                <label style="color: #358E76;">Name</label>
                </br>
                <input class="txtInfo" type="text" placeholder="<%= user.firstname %>" readonly/>
                </br>
                <input class="txtInfo" type="text" placeholder="<%= user.lastname %>" readonly/>
                </br>
         
                <label style="color: #358E76;">Email</label>
                </br>
                <input class="txtInfo" type="text" placeholder="<%= user.email %>" readonly/>
                </br>

                <label style="color: #358E76;">Change Password</label>
                </br>   
                <input class="txtInfo" name="password" type="password" placeholder="Password" required/>
                </br>
                <input class="txtInfo" name="confirmPW" type="password" placeholder="Confirm Password" required/>
            </div>                
            </br>
            </br>

            <div class="changes">
                <button class="hardbtn" type="submit">
                    <p>Save</p>
                </button>
                </br>

                <a class="hardbtn" href="/main">
                    <p>Cancel</p>
                </a>
            </div>       
        </form>
    </div>

    <%- include('./partials/mainFooter'); %>
</body>
</html>