<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/links'); %>
        <link rel="stylesheet" href="/style/profile.css" />
        <title>Profile Setting</title>
    </head>

    <body>
        <%- include('./partials/header'); %>

        <!-- if reset password -->
        <% if (locals.msg) { %>
        <div class="alert" style="background-color: #358e76;">
            <span
                class="closeMsgBtn"
                onclick="this.parentElement.style.display='none';"
            >
                &times;
            </span>
            <%= msg %>
        </div>
        <% } %>

        <!-- user firstname -->
        <h1 style="color: #358e76;"><%= user.firstname %></h1>

        <div class="setting">
            <a class="settingTab" href="/main/profile">
                <div class="settingTxt">
                    <i class="fas fa-user" style="color: #358e76;">
                        Profile Setting
                    </i>
                </div>
            </a>

            <div class="settingTab">
                <div class="settingTxt">
                    <i class="fas fa-phone" style="color: #358e76;">
                        Contact Us
                    </i>
                </div>
            </div>

            <div class="settingTab">
                <div class="settingTxt">
                    <i class="fas fa-share" style="color: #358e76;">
                        Share with friends
                    </i>
                </div>
            </div>

            <div class="settingTab">
                <div class="settingTxt">
                    <i class="fas fa-question-circle" style="color: #358e76;">
                        FAQ / How to use
                    </i>
                </div>
            </div>

            <div class="settingTab">
                <div class="settingTxt">
                    <i class="fas fa-sticky-note" style="color: #358e76;">
                        Privacy Policy
                    </i>
                </div>
            </div>
        </div>

        <%- include('./partials/mainFooter'); %>
    </body>
    <script src="/src/goback.js"></script>
</html>
