<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links'); %>
    <link rel="stylesheet" href="/style/note.css">
    <title>View Note</title>
</head>
<body>
    <%- include('./partials/header'); %>

    <p id="title" name="noteTitle"><%= note.title %></p>
    </br>

    <% if (note.content) { %>
        <p id="content" name="note"><%= note.content %></p>  
    <% } %>
    
    <% note.image.forEach(image => { %>
        <img src="/uploads/images/<%= image %>" height="300px" width="400px">
    <% }) %>

    <%- include('./partials/noteFooter'); %>
</body>

<script src="/src/goback.js"></script>
</html>